body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    color:black
}

.init{
    margin: 0;
    padding: 0;
    height: 100px;
    background-color: darkred;
    padding-top: 60px;
}

.navbar{
    position: fixed;
    z-index: 1000;
    right: 0;
    padding-top: 0;
    width: 100%;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: darkred;
    }

    ul li {
        float: right;
    }

    ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        font-style: inherit;
        font-weight: bold;
    }

    ul li a:hover {
        background-color: lightgrey;
    }
}
h1{
    margin: 0;padding: 0;
    text-align: left;
    margin-top: 0;
    margin-left: 10px;
    letter-spacing: 2px;
    /*color: rgb(241, 231, 176);*/
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px darkred;
    font-family:'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 60px;
}

.LuckyCat img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: block;
    margin-left: 1180px;
    top: 75px;
    position: absolute;
}

h2{
    margin: 25px;
    font-size: 30px;
    color: darkred;
    text-decoration-line: underline;
    text-decoration-color: darkred;
}

.ImageFix{height: 35px;width: 35px;vertical-align: middle;border-radius: 50%;}

p1,p2,p3,p4,p5{font-family:Arial, Helvetica, sans-serif;}
p2,p3{padding-left: 28px;}

p1 {
    margin: 50px;
    font-size: 17px;
    font-weight: bold;
}

.padding{ /*Para el primer párrafo, está dentro de un div*/
    padding:0px 350px 0px 28px;
}

.dialogo{
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: 50px;
    gap: 1.5rem;
    flex: 1;
}

.message{
    border: 2px dashed white;
    border-radius: 8px;
    padding:5px;
}

.alignImage1{align-self: flex-start;display:flex;gap:1rm;}
.alignImage2{align-self: flex-end;display:flex;gap:1rm;}
.ConverBox{align-self: flex-end;display: flex;}
.person1{align-self: flex-start;background-color: darkred;color:white; a:link{color:lightgoldenrodyellow}; a:visited{color:white}}
.person2{align-self: flex-end;background-color: lightgoldenrodyellow;color:black;a:link{color:darkred}}

.button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor:grab;
    text-align: center;
    text-decoration: none;
    color: darkred;
    background-color: darkred;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    a:link{color:lightgoldenrodyellow}; a:visited{color:white}
}

table{border-collapse: collapse;width: auto;margin-left: auto;margin-right: 200px;}
th, td{padding: 8px;text-align: left;border-bottom: 2px solid rgb(139,0,0);font-size: 15px;}
.fontStyle{font-size: 20px;font-family:Arial, Helvetica, sans-serif;font-weight: bold;font-style: italic;border-bottom:  2px solid rgb(250,250,210);border-style:ridge;}
.Puntuations{flex: 1}
.Diag_Punt{display: flex;gap: 20px;}

.projectContainer{
    display: flex;
    gap: 20px;
    padding: 25px;
}

.projectTitle{
    margin: 25px;
    color: darkred;
    text-decoration-line: underline;
    text-decoration-color: darkred;
}

.project{
    padding: 15px, 25px;
    text-align: center;
}
